.addTodos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todoset {
  display: flex;
  flex-direction: row;
}

.todos {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.completed {
  text-decoration: line-through;
}
